<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.leo.produce" >

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

</manifest>
